<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sensor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F80C15B71DADB7C100D90DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80C15CE1DADB7C100D90DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80C15D91DADB7C100D90DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
